@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root{
    --cream: #f1ebe3;
    --blackblue: #051647;
    --about1: #BAD4E4;
    --about2: #E8B5BE;
    --about3: #F0AE75;
}

body {
    font-family: "Red Hat Display", Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.red-hat-display {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.bg-votum-blue { background-color: #051647; }
.bg-votum-blue-light { background-color: #0a2558; }
.text-votum-blue { color: #051647; }
.text-votum-cream{ color: #f1ebe3; }
.bg-votum-cream { background-color: #f1ebe3;}
.text-other-cream{ color: #e4cebc; }
.bg-other-cream { background-color: #e4cebc;}
.hover-scale { transition: transform 0.2s; }
.hover-scale:hover { transform: scale(1.05); }
.calendar-day { aspect-ratio: 1; }
.event-day { background-color: #fbbf24; font-weight: bold; }


