@import 'tailwindcss';


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';



@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root{
    --cream: #f1ebe3;
    --blackblue: #051647;
    --about1: #BAD4E4;
    --about2: #E8B5BE;
    --about3: #F0AE75;
}

body {
    font-family: Roboto, Inter, ui-sans-serif, system-ui, -apple-system, "Helvetica Neue", Arial;
}


.caveat {
    font-family: "Caveat", cursive;
    font-size: 30px ;
    font-optical-sizing: auto;
    font-style: normal;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(20px); }
    10%, 90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(20px); }
}

.animate-fadeInOut {
    animation: fadeInOut 2s ease-in-out forwards; /* trvá 2 sekundy a prebehne hladko */
}

.bg-votum-blue { background-color: #051647; }
.bg-votum-blue-light { background-color: #0a2558; }
.text-votum-blue { color: #051647; }
.text-votum-cream{ color: #f1ebe3; }

.bg-event{ background-color: #edeeff; }
.border-event{border-color: #404087;}
.border-votum1 { border-color: #123d8e; }
.border-votum2 { border-color: #404087; }
.border-votum3 { border-color: #713B7D; }
.bg-votum1 { background-color: #EDF5FF;}
.bg-votum2 { background-color: #e0e0ff;}
.bg-votum3 { background-color: #fbedff;}
.bg-dark-votum1 { background-color: #123d8e;}
.bg-dark-votum2 { background-color: #404087;}
.bg-dark-votum3 { background-color: #713B7D;}
.text-votum1 { color: #123d8e;}
.text-votum2 { color: #404087;}
.text-votum3 { color: #713B7D;}

.h1{font-size: 45px;}
.h2{font-size: 34px;}
.h3{font-size: 24px;}

.txt{font-size: 20px;}

.calendar-day { aspect-ratio: 1; }
.event-day { background-color: #fbbf24; font-weight: bold; }


.txt-btn {
    font-size: 20px;
    justify-content: center;
    gap: 0.75rem; /* rovnaké ako gap-3 */
    padding: 1.25rem 2.5rem; /* py-5 px-10 */
    font-weight: 600; /* font-semibold */
    outline: none;
    cursor: pointer;
}

.txt-btn:focus,
.txt-btn-block:focus,
.hamburger:focus{
    box-shadow:
        0 0 0 3px rgb(255, 241, 183),
        0 0 0 7px rgb(0, 0, 0);
}

.txt-btn:hover,
.txt-btn-block:hover,
.hamburger:hover{
    box-shadow:
        0 0 0 3px rgb(255, 241, 183),
        0 0 0 7px rgb(0, 0, 0);
}

.hamburger{
    cursor: pointer;
    outline:none;
}

.txt-btn-block {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
